<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <div class="row pad-all">
      <h4 class="title margin-left-right">{{sitIn?.name}}
        <img
        [src] = "sitIn?.imageUrl"
        alt="{{ sitIn?.name }}"
        class="img-responsive pull-right"
        style="margin-right: 5px; max-height: 70px; display: inline;">
      </h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="pad-left-right">
      <div class="row">
        <label>Restaurant Name:</label>
        <span class="label-value"> {{sitIn?.name}}</span>
      </div>
      <br>
      <div class="row">
        <label>Favorite Items:</label>
        <span class="label-value"> {{ sitIn?.favoriteItems }}</span>
      </div>
      <br>
      <div class="row">
        <label>Menu URL:</label>
        <span class="label-value"> {{ sitIn?.menuUrl }}</span>
      </div>
    </div>
    <hr>
    <div class="row panel-center">
      <a (click)="onView()" class="btn btn-primary">Menu</a>
    </div>
  </div>
</div>
