<div *ngIf="food?.name" class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <div class="row pad-all">
      <h4 class="title margin-left">{{food?.name}}
      <img
        [src] = "food?.imageUrl"
        alt="{{ food?.name }}"
        class="img-responsive pull-right"
        style="margin-right: 5px; max-height: 70px; display: inline;"></h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="pad-left-right">
      <div class="row">
        <label>Main Course:</label>
        <span class="label-value"> {{ food?.mainCourse }}</span>
      </div>
      <br>
      <div class="row">
        <label>Sides:</label>
        <span class="label-value"> {{ food?.sides }}</span>
      </div>
      <br>
      <div class="row">
        <label>Drinks:</label>
        <span class="label-value"> {{ food?.drinks }}</span>
      </div>
      <br>
      <div class="row">
        <label>Desserts:</label>
        <span class="label-value"> {{ food?.desserts }}</span>
      </div>
      <br>
      <div class="row">
        <label>Menu URL:</label>
        <span class="label-value"> {{ food?.menuUrl }}</span>
      </div>
    </div>
    <hr>
    <div class="row panel-center">
      <a (click)="onView()" class="btn btn-primary">Menu</a>
    </div>
  </div>
</div>
