<div *ngIf="food?.name" class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <div class="row pad-all">
      <h4 class="title margin-left">{{food?.name}}
      <img
        [src] = "food?.imageUrl"
        alt="{{ food?.name }}"
        class="img-responsive pull-right"
        style="margin-right: 5px; max-height: 70px; display: inline;"></h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="pad-left-right">
      <div class="row">
        <label>Main Course:</label>
        <span class="label-value"> {{ food?.mainCourse }}</span>
      </div>
      <br>
      <div class="row">
        <label>Sides:</label>
        <span class="label-value"> {{ food?.sides }}</span>
      </div>
      <br>
      <div class="row">
        <label>Drinks:</label>
        <span class="label-value"> {{ food?.drinks }}</span>
      </div>
      <br>
      <div class="row">
        <label>Desserts:</label>
        <span class="label-value"> {{ food?.desserts }}</span>
      </div>
      <br>
      <div class="row">
        <label>Menu URL:</label>
        <span class="label-value"> {{ food?.menuUrl }}</span>
      </div>
    </div>
    <hr>
    <div class="row panel-center">
      <a (click)="onView()" class="btn btn-primary">Menu</a>
      <!-- <a [routerLink]="['edit']" class="btn btn-info" >Edit</a>
      <a (click)="onDelete()" class="btn btn-danger">Delete</a> -->
    </div>
  </div>
</div>

<!---------------------------------------------- Pop Up attempt 1 --------------------------------------------->
<!-- <ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title"
			id="modal-basic-title">
			{{ food?.name }}
		</h4>
		<button type="button" class="close"
				aria-label="Close" (click)=
				"modal.dismiss('Cross click')">

			<span aria-hidden="true"> × </span>
		</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<label for="dateOfBirth">
					Date of birth
				</label>
				<div class="input-group">
					<input id="dateOfBirth"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp" ngbDatepicker
						#dp="ngbDatepicker">

					<div class="input-group-append">
						<button class="btn
							btn-outline-secondary calendar"
							(click)="dp.toggle()"
							type="button">
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button"
			class="btn btn-outline-dark"
			(click)="modal.close('Save click')">
			Save
		</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary"
	(click)="open(content)">
	<div *ngIf="food?.name" class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
      <div class="row pad-all">
        <h4 class="title margin-left-right">{{food?.name}}</h4>
        <div class="row pull-right margin-left-right">
          <a (click)="onView()" class="btn btn-primary">Menu</a>
          <a [routerLink]="['edit']" class="btn btn-info" >Edit</a>
          <a (click)="onDelete()" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="pad-left-right">
        <div class="row">
          <label>Restaurant Name:</label>
          <span class="label-value"> {{food?.name}}</span>
        </div>
        <br>
        <div class="row">
          <label>Favorite Items:</label>
          <span class="label-value"> {{ food?.favoriteItems }}</span>
        </div>
        <br>
        <div class="row">
          <label>Menu URL:</label>
          <span class="label-value"> {{ food?.menuUrl }}</span>
        </div>
      </div>
    </div>
  </div>
</button> -->

<!---------------------------------------------- Pop Up attempt 2 --------------------------------------------->
<!-- <h1>Angular 8 Bootstrap Modal Popup Example</h1>

<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template> -->
