.title {
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
}

.margin-left-right{
  margin-left:1rem;
  margin-right:1rem;
}

.pad-left-right{
  margin-left:1rem;
  margin-right:1rem;
}


.label-value{
  /* height:60px; */
  overflow:hidden;
  /* width:350px; */
  word-break:break-all;
  white-space:normal;
}

.panel-center{
  width: 75%;
  margin: 0 auto;
}
